<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Analysis </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!-- custom style sheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login-signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/topscrollindicator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/subscriptions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dine-in.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/faq.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">


    <!-- img -->
    <link rel="icon" src="{{ url_for('static', filename='images/iconscout.png') }}" type="image/png">
    <!-- font awesome icons script -->
    <script src="https://kit.fontawesome.com/c732ec9339.js" crossorigin="anonymous"></script>
    <style>
        body {

            /* margin: 50px; */
            background: linear-gradient(to top, var(--body-color), #f3f5ff);
            /* background-image: url('https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/63031152517/original/e6LDAT1ccEuEU4tmm87NG7FLap2TFFnvDg.gif?1632724420');   */
        }

        .container {
            border-radius: 55px;
            color: black;
            padding: 80px;
            margin-top: 150px;
            background: white;
            /* Added for context */
        }

        .result-container {
            background: #000000;
            color: #ffffff;
            margin-top: 80px;
            padding: 20px;
            border-radius: 15px;
        }
    </style>
</head>

<body>
    <!-- cursor -->
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>

    <!-- Preloader -->
    <!-- <div id="preloader">
            <div class="loader-container">
                <div class="flavor-circle chocolate"></div>
                <div class="flavor-circle strawberry"></div>
                <div class="flavor-circle vanilla"></div>
                <div class="flavor-circle mint"></div>
                <div class="flavor-circle blueberry"></div>
                <div class="flavor-circle mango"></div>
                <div class="flavor-circle pistachio"></div>
                <div class="flavor-circle raspberry"></div>
            </div>
        </div> -->



    <!-- Scroll progress bar -->
    <div class="scroll-progress" id="scrollProgress"></div>

    <!-- nav bar -->
    <div class="nav-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/recuLogo.jpg')  }}" alt="Image" height="40px" width="40px">
            <!-- <img src="images/iconscout.png" alt="recruitment" height="40px" width="40px"> -->
            <a href="index.html">RecruitEase</a>
        </div>
        <div class="nav-links">
            <a href="/index" class="link active">home</a>
            <a class="nav-link" href="/job"><i class="bi bi-briefcase"></i> Recruitment</a>
            <a class="nav-link" href="/ana"><i class="bi bi-bar-chart"></i> Dashboard</a>
            <a class="nav-link" href="https://resumebasedemo-5djptiauhsrqkmwupkvp4d.streamlit.app/"><i class="bi bi-line"></i> Resume Score</a>
            <a href="/chatbot" class="nav-links"><i class="bi bi-box"></i>ChatBot</a>
        </div>
        <div class="avatar-container">
            <img src="https://randomuser.me/api/portraits/women/47.jpg" 
                 alt="User Avatar" 
                 class="avatar" 
                 onclick="toggleProfileDropdown()">
            
            <div id="profileDropdown" class="profile-dropdown">
                <div class="profile-header">
                    <img src="https://randomuser.me/api/portraits/women/47.jpg" 
                         alt="Profile Avatar" 
                         class="profile-avatar">
                    <div class="profile-info">
                        <h3>My Profile </h3>
                        <!-- <p>anshikadubey8591@gmail.com</p> -->
                    </div>
                </div>
                
                <div class="profile-actions">
                    <!-- <a href="#" onclick="openProfile()">View Profile</a>
                    <a href="#" onclick="openSettings()">Account Settings</a> -->
                    <a href="#" onclick="logout()">Logout</a>
                </div>
            </div>
        </div>
    
        <div id="cuteAlert" class="cute-alert">
            <div class="cute-alert-content">
                <span class="cute-alert-text">You’ve been logged out! 😇 Bye See you again soon!...
            </div>
        </div>
        <!-- <div class="icons">
            <div class="icon">
                <a href="./login.html"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
            <div class="icon">
                <span class="i"><i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i> <span
                        class="no-of-cart-items">0</span></span>
            </div>
            <div class="icon">
                <i class="fa fa-bars menu" aria-hidden="true" id="menu-icon"></i>
            </div> -->
        </div>
    </div>
<!-- Cart -->

    <div class="container mt-2" style="background: white; color: black; border-radius: 20px;">
        <h1 class="text-center">HR Analytics Dashboard</h1>
<hr>

        <div class="row">
            <div class="col-md-12">
                <h3>Data Frame</h3>
                <div style="overflow-x: auto; overflow-y: auto; max-height: 400px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in df.columns %}
                                <th>{{ col }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in df.values %}
                            <tr>
                                {% for val in row %}
                                <td>{{ val }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <h3 class="text-center">Additional information</h3> -->
        <div class="container">
            <div class="row justify-content-between ">
                {% if average_satisfaction %}
                <div class="col-md-4"
                    style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); padding: 20px; border-radius: 10px;">
                    <h3>Average Satisfaction Level:</h3>
                    <p>{{ average_satisfaction }}</p>
                </div>
                {% endif %}
                {% if left_employees %}
                <div class="col-md-4"
                    style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); padding: 20px; border-radius: 10px;">
                    <h3>Employees who left:</h3>
                    <ul>
                        <li>{{ left_employees }}</li>
                    </ul>
                </div>
                {% endif %}

                {% if stayed_employees %}
                <div class="col-md-4"
                    style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); padding: 20px; border-radius: 10px;">
                    <h3>Employees who stayed:</h3>
                    <ul>
                        <li>{{ stayed_employees }}</li>
                    </ul>
                </div>
                {% endif %}
            </div>

            <br>

            <div class="row">
                {% if department_satisfaction %}
                <div class="col-md-6"
                    style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); padding: 20px; border-radius: 10px;">
                    <h3>Department-wise Average Satisfaction Level:</h3>
                    <ul>
                        {% for department, satisfaction in department_satisfaction.items() %}
                        <li>{{ department }}: {{ satisfaction }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if salary_satisfaction %}
                <div class="col-md-6"
                    style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); padding: 20px; border-radius: 10px;">
                    <h3>Salary-wise Average Satisfaction Level:</h3>
                    <ul>
                        {% for salary, satisfaction in salary_satisfaction.items() %}
                        <li>{{ salary }}: {{ satisfaction }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
                <h3>Left or Not Distribution</h3>
                <img src="/static/images/left.png" class="img-fluid" alt="Salary Distribution">
            </div>
            <div class="col-md-6">
                <h3>Salary Distribution</h3>
                <img src="/static/images/salary.png" class="img-fluid" alt="Salary Distribution">
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <h3>number_project Distribution</h3>
                <img src="/static/images/number_project.png" class="img-fluid" alt="Salary Distribution">
            </div>
            <div class="col-md-6">
                <h3>department Distribution</h3>
                <img src="/static/images/department.png" class="img-fluid" alt="Salary Distribution">
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <h3>Salary Histogram Distribution</h3>
                <img src="/static/images/salary_distribution.png" class="img-fluid" alt="Department Distribution">
            </div>
            <div class="col-md-6">
                <h3>Department Histogram Distribution</h3>
                <img src="/static/images/department_distribution.png" class="img-fluid" alt="Department Distribution">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Department vs Satisfaction Level</h3>
                <img src="/static/images/comparison.png" class="img-fluid" alt="Correlation with Left">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Correlation with Left</h3>
                <img src="/static/images/correlation.png" class="img-fluid" alt="Correlation with Left">
            </div>
            <div class="col-md-6">
                <h3>Histogram of Satisfaction Level</h3>
                <img src="/static/images/satisfaction_level_histogram.png" class="img-fluid"
                    alt="Histogram of Satisfaction Level">
            </div>
        </div>
    </div>

    <!-- footer -->
    <section class="footer">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Useful links</h4>
                <ul class="links">

                    <li><a href="#home">Home</a></li>
                    <!-- <li><a href="#"><i class="fas fa-user"></i> My Account</a></li> -->
                    <li><a href="products.html">Products</a></li>
                    <li><a href="gallary.html">Gallery</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="./faq.html" class="link"> FAQ</a></li>
                    <li><a href="contributor.html"> Our Contributors</a></li>
                    <li><a href="blogs.html"> Our Blogs</a></li>
                    <!-- <li><a href="#"><i class="fas fa-file-contract"></i> Customer Agreement</a></li> -->
                    <li><a href="privacy.html"> Privacy Policy</a></li>


                </ul>
            </div>

            <div class="footer-col">
                <h4>Opening Hours</h4>
                <ul class="links">
                    <li><a href="#">Mon-Sat : 9.00 AM to 9.30 PM</a></li>
                    <li><a href="#">Sunday : 9.00 AM to 3.00 PM</a></li>
                </ul>
                <h4 style="margin-top: 15px;">Locations</h4>
                <ul class="links">
                    <li class="address1"><a href="" class="social"><i class="fa-solid fa-location-dot"></i> Kolathur
                            ramankulam-
                            Malappuram Dt</a></li>
                    <li class="address2"><a href="" class="social"><i class="fa-solid fa-location-dot"></i> MG Road,
                            Bangalore - Karnataka</a></li>
                    <li class="address3"><a href="" class="social"><i class="fa-solid fa-location-dot"></i>
                            Connaught Place, New Delhi</a></li>
                    <li class="address4"><a href="" class="social"><i class="fa-solid fa-location-dot"></i> Park
                            Street, Kolkata - West Bengal</a></li>

                    </li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Need Help?</h4>
                <ul class="links">
                    <li><a href="tel:90904500112" class="social"><i class="fa-solid fa-phone"></i> +91 8591245402</a>
                    </li>
                    <li><a href="tel:90904500112" class="social"><i class="fa-solid fa-phone"></i> +91 8591245402</a>
                    </li>
                    <li><a href="mailto:mail@1234567.com" class="social"><i class="fa-solid fa-envelope"></i>
                            mail@1234567.com</a></li>
                </ul>
                <h4 style="margin-top: 15px;">Follow Us</h4>
                <ul class="links">
                    <li><a href="https://www.facebook.com/" class="social"><i class="fa-brands fa-facebook-f"></i>
                            Facebook</a></li>
                    <li><a href="https://www.instagram.com/" class="social"><i class="fa-brands fa-instagram"></i>
                            Instagram</a></li>
                    <li><a href="https://www.linkedin.com/" class="social"><i class="fa-brands fa-linkedin-in"></i>
                            Linkedin</a></li>
                    <li><a href="https://www.twitter.com/" class="social"><i class="fa-brands fa-x-twitter"></i>
                            Twitter</a></li>
                    <li><a href="#1" class="social"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                    <!-- It's href is #1 for css purpose to get it's hover green  -->

                </ul>
            </div>
            <div class="footer-col">
                <h4>Newsletter</h4>
                <p>
                    Subscribe to our newsletter for a weekly dose
                    of news, updates, helpful tips, and
                    exclusive offers.
                </p>
                <form action="#">
                    <input type="email" placeholder="Your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </section>

    <button class="scroll-button">
        <img src="{{ url_for('static', filename='images/scroll-icon-png-1.jpg') }}" alt="Image">
    </button>

    <!-- copyright -->
    <div class="copyright">
        &copy; <span id="year"></span> by <span>Anshika</span> | All Rights Reserved
    </div>

    <!-- Toaster -->
    <div id="toast-container" class="toast-container"></div>

    <!-- script files -->

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- new link of static folder  -->
    <script src="{{ url_for('static', filename='script/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='script/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='script/cart.js') }}"></script>
    <script src="{{ url_for('static', filename='script/login.js') }}"></script>
    <script src="{{ url_for('static', filename='script/product_database.js') }}"></script>
    <script src="{{ url_for('static', filename='script/products.js') }}"></script>
    <script src="{{ url_for('static', filename='script/signup.js') }}"></script>
    <script src="{{ url_for('static', filename='script/FAQ.js') }}"></script>
    <script src="{{ url_for('static', filename='script/topscrollindicator.js') }}"></script>
    <script src="{{ url_for('static', filename='script/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='script/flavor_section.js') }}"></script>
    <script src="{{ url_for('static', filename='script/cursor.js') }}"></script>
    <script src="//code.tidio.co/wqct6ziuqgn7jxbmpbahi20mfimnmtlq.js" async></script>

</body>

</html>